body
{
       background-color: powderblue;
       }
       hr
       {
           background-color: white;
           border-style:none;
           height:2px;
           width:100%;
}
h3
{
   color:salmon;
}
h1
{
   color:mediumblue;
}